html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
body {background: #fff;}
.clear:after{content:"."; display:block; font-size:0px; line-height:0px; height:0px; clear:both; visibility:hidden;}
* {
	font-family: "微软雅黑";
	font-size: 13px;
	color: #666;
    box-sizing:inherit;
}

.content {
	width: 730px;
	border: 1px solid #ddd;
}
.title {
	width: 100%;
	float: left;
	margin: 15px 0;
	position: relative;
}
.title .icon-left {
	background: url("../img/templete/title-1.png");
	width: 33px;
	height: 30px;
	float: left;
    margin-left: -4px;
    margin-top: 1px;
}
.title .icon-right {
	background: url("../img/templete/title-2.png");
	width: 12px;
	height: 16px;
	float: left;
	margin-top: 16px;
}
.title h3 {
	background: none repeat scroll 0 0 #fff;
    color: #333;
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 19px;
    font-weight: normal;
    height: 29px;
    padding: 0 10px;
}
.title div {
	background: #FF6534;
	width: 100%;
	height: 16px;
	position: absolute;
	left:0px;
	z-index: -1;
	bottom: 0px;
}
.title p {
	color: #fff;
    margin-top: 12px;
    text-align: right;
    margin-right: 5px;
}
.m-text {
	font-family: "宋体";
	color: #999;
	line-height: 22px;
    word-wrap: break-word;
}
.img-end {
    background: #fff;
    float: left;
    height: 260px;
    width: 385px;
    padding: 3px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ddd;
}
.img-end img {
	float: left;
	width: 100%;
	height: 100%;
}


.clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.m-1 {
    float: left;
    position: relative;
    width: 100%;
}
.m-1 .right, .m-1 .left {
    float: left;
    margin: 15px 10px;
    position: relative;
    z-index: 0;
}
.m-1 .right {
    margin: 15px;
    width: 285px;
}


.m-2 {
    float: left;
    padding: 15px;
    position: relative;
    width: 700px;
}
.m-2 .img-end {
    float: left;
    margin: 15px 0px;
    width: 690px;
}


.m-3, .m-4 {
    float: left;
    position: relative;
    width: 700px;
    padding: 15px;
}
.m-3 .right {
    float: right;
    position: relative;
    width: 100%;
}
.m-3 .images {
    float: left;
    height: 500px;
    position: relative;
    width: 100%;
}
.m-3 .images .img-end {
    height: 255px;
    position: absolute;
    width: 260px;
}


.m-4 ul li .img-end {
    height: 255px;
    margin: 10px 33px;
    width: 260px;
}
.m-4 .title {
    float: left;
    margin: 10px 0;
    text-align: center;
}
.m-4 ul {
    float: left;
    list-style: none outside none;
    margin: 10px 0;
    width: 340px;
}
.m-4 ul {
    float: left;
    list-style: none outside none;
    margin: 10px 0;
    width: 340px;
}
.m-4 ul li {
    border: medium none;
    margin: 0 20px;
    float: left;
    position: relative;
}
.m-4 .m-text {
	margin: 0 33px;
    width: 260px;
}
