<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META http-equiv="X-UA-Compatible" content="IE=8" />
<title>商品中心</title>
	#parse("layout/css.vm")
</head>


<body class="no-skin">

	<div class="page-content">
		$screen_content
    </div>

</body>
#parse("layout/js.vm")
</html>